.wrapper{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.page-heading {
    font-weight: 500;
    font-size: xx-large;
}

.page-subheading {
    font-weight: 300;
    font-size: large;
    margin-top: 2%;
    margin-bottom: 1%;
}

#applyBtn {
    background-image: var(--gradient);
    color: white;
    float: right;
}

@media (max-width: 800px) {
    .page-heading {
        font-size: x-large;
    }    

    #applyBtn {
        font-size: small
    }
}