<div class="wrapper">
    <mat-card>
        <mat-card-header>
            <mat-card-title>EMS Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <input matInput [formControl]="idFormControl" [errorStateMatcher]="matcher" placeholder="Employee ID"
                    autofocus>
                <mat-icon matPrefix>person</mat-icon>
                <mat-error *ngIf="idFormControl.hasError('invalid') && !idFormControl.hasError('required')">
                    Invalid Employee ID
                </mat-error>
                <mat-error *ngIf="idFormControl.hasError('required')">
                    Employee ID required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input matInput type="password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
                    placeholder="Password">
                <mat-icon matPrefix>vpn_key</mat-icon>
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Password required
                </mat-error>
            </mat-form-field>
            <mat-card-actions>
                <button type="button" (click)="onSubmit()" class="login-button" mat-raised-button
                    color="black">LOGIN</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>