div.pfp {
    margin-top: 1%;
    text-align: center;
}

img.pfp {
    clip-path: circle();
    max-height: 50%;
    max-width: 50%;
}

.pname {
    margin-bottom: 3%;
    font-size: 200%;
    text-align: center;
}

mat-expansion-panel {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1%;
}

mat-panel-title {
    font-weight: bold;
    font-size: 115%
}

mat-icon {
    vertical-align: middle;
}