div.pfp {
    margin-top: 1%;
    text-align: center;
}

img.pfp {
    clip-path: circle();
    height: 10%;
    width: 10%;
    background-color: slategray;
    margin-bottom: 1%;
}

@media (max-width: 800px) {
    img.pfp {
      height: 25%;
      width: 25%;
    }
}

.pname {
    margin-bottom: 3%;
    font-size: 200%;
    text-align: center;
}

mat-expansion-panel {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1%;
}

mat-panel-title {
    font-weight: bold;
    font-size: 115%
}

mat-icon {
    vertical-align: middle;
}