<div class="pfp">
  <img class="pfp" [src]="userDetails.photo">
</div>
<div class="pname">
  {{userDetails.name}}
</div>
<mat-expansion-panel [expanded]="contactPanelOpen == true" (opened)="contactPanelOpen = true"
  (closed)="contactPanelOpen=false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Contact Details
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="flex-container">
    <div class="flex-item">
      <mat-icon>phone</mat-icon> {{userDetails.phone}}
    </div>
    <div class="flex-item">
      <mat-icon>alternate_email</mat-icon> {{userDetails.email}}
    </div>
    <div class="flex-item">
      <mat-icon>home</mat-icon> {{userDetails.home}}
    </div>
    <div class="flex-item">
      <mat-icon>place</mat-icon> {{userDetails.city}}
    </div>
    <div class="flex-item">
      <mat-icon>location_city</mat-icon> {{userDetails.state}}
    </div>
    <div class="flex-item">
      <mat-icon>pin</mat-icon> {{userDetails.pincode}}
    </div>
  </div>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="workPanelOpen == true" (opened)="workPanelOpen = true" (closed)="workPanelOpen=false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Work Details
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="flex-container">
    <div class="flex-item">
      <mat-icon>tag</mat-icon> {{userDetails.empId}}
    </div>
    <div class="flex-item">
      <mat-icon>stairs</mat-icon> {{userDetails.designation}}
    </div>
    <div class="flex-item">
      <mat-icon>local_atm</mat-icon>{{userDetails.salary | currency:'INR'}} (Yearly)
    </div>
  </div>
</mat-expansion-panel>