mat-drawer-container {
    height: 100vh;
}

mat-drawer {
    background-image: var(--gradient);
    height: 100vh;
    width: 25vw;
    padding-top: 5%;
}

@media (max-width: 760px) {
    mat-drawer {
        width: 50vw;
    }
  }