/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
:root {
    --gradient: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 115%
}

.flex-item {
    padding: 10px;
    flex: 45%
  }

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
}
